.layout-test {
  background-color: $color-primary;
  padding: 2rem;
  min-height: 100vh;
}

/* -------------------------------------------------------------------------- */
/*                               Product Details                              */
/* -------------------------------------------------------------------------- */
.details {
  display: flex;
  // height: 95vh;
  padding: 2rem 1rem;
  max-width: 80%;
  margin: 0 auto;
  background-color: $color-white;

  &__images {
    width: 60%
  }

  &__previewImages{
    width: 60%;
    margin: 0 auto 1rem;
    & img{
      display: block;
      max-width: 100%
    }
  }

  &__smallImages {
    text-align: center;
  }

  &__smallImage {
    display: inline-block;

    & img{
      max-width: 12.5rem;
    }
  }

  &__info{
    width: 30%;
  }

  &__title{
    text-transform: capitalize;
    font-size: 4rem;

  }

  &__price{
    font-size: 1.6rem;
    margin: 1rem;

    &--normal{
      color: $color-black;
    }
    &--strike{
      color: red;
      text-decoration: line-through;
    }
  }

  &__color{
    font-size: 1.6rem;

    &--name{
      text-transform: capitalize;
    }
  }

  &__color-circle{
    margin-top: 0.6rem;
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 100px;
  }

  &__description{
    margin: 4rem 0 ;
    font-size: 1.4rem;
    font-weight: 300;
    width: 80%;
  }


  &__button-box{
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  &__cta{
    width: 80%;
    text-align: center;
  }

  &__cta-button{
    color: $color-white;
    font-weight: 700;
    letter-spacing: 0.15rem;
  }

}