/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */
$color-white: #fff;
$color-black: #444;

$color-grey-dark: #a9a9a9;
$color-grey-light: #D3D3D3;

$color-primary-light: #F5F5F5;
$color-primary: #c8c2bc;
$color-primary-dark: #AcA7A3;


$color-secondary-dark: #525453;
