/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */
$color-white: #fff;
$color-black: #000;

$color-grey-dark: #a9a9a9;

$color-primary: #c8c2bc;
$color-primary-dark: #AcA7A3;

$color-secondary-dark: #525453;
