.button{
  &--circle {
    display: inline-block;
    border-radius: 100px;
    width: 2.4rem;
    height: 2.4rem;
    border: 1px solid $color-black;
    background-color: $color-white;
    text-align: center;
  }

  &--square {
    display: inline-block;
    border-radius: 0.5rem;
    width: 4rem;
    height: 4rem;
    border: 1px solid $color-black;
    background-color: $color-white;
  }

  &--rectangle {
    width: 18rem;
    height: 4.5rem;
    border-radius: 0.5rem;
    background-color: $color-secondary-dark;
    border: none;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);

  }
}